@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    font-family: Georama, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    background-color: #1D212C;
}

h1{
    font-size: 29px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h2{
    color: rgb(246 247 249);
}

.courses-container {
    width: 50%;
    max-width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.course{
    background-color: #FF9232;
    padding-top: 5x;
    border: 1px solid white;
    border-radius: 15px;
    margin-right: auto;
    padding: 22px;
    align-items: center;
    margin-left: auto;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course h2, .course h3{
    font-size: 20px;
    color: rgb(246 247 249);
    margin: 0 0 10px;
}

.course a {
    text-decoration: none;
    color: rgb(246 247 249);
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.course a:hover {
    text-decoration: underline;
}

a {
    color: white;
}

.topnav {
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: #050E2E;
    padding: 20px 20px;
    padding-left: 0px;
    overflow: hidden;
    margin: 0;
}

.topnav li {
    text-align: center;
    display: inline;
}

.topnav li a {
    font-size: 17px;
    text-align: center;
    padding: 20px 18px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
}

.topnav-active {
    background-color: #FF9232;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: black;
}
.EVERYTHINGELSE {
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    padding: 22px;
}

p {
    color: rgb(246 247 249);
    font-size: 20px;
    text-align: center;
}


.textbox {
    color: rgb(0, 0, 0);
    font-family: Georama, sans-serif;
    font-size: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    align-items: center;
}

.textchat {
    color: rgb(0, 0, 0);
    font-family: Georama, sans-serif;
    font-size: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    align-items: center;
}

.yournamething { 
    color: rgb(0, 0, 0);
    font-family: Georama, sans-serif;
    font-size: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    align-items: center;
}
.sendbutton {
    color: rgb(0, 0, 0);
    font-family: Georama, sans-serif;
    font-size: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    align-items: center;
}