body {
    margin: 0;
    font-family: Georama, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1D212C;
}

#question-container {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.choice {
    align-items: center;
    display: block;
    padding: 10px;
    margin: 11px;
    cursor: pointer;
    background-color: #FF9232;
}

.choice:hover {
    background-color: rgb(92, 191, 34);
}

h1 {
    color:rgb(246 247 249);
    text-align: center;
}
button{
    margin: 0;

}
h2{
    text-align: center;
    color:rgb(246 247 249);
}

p {
    text-align: center;
    color: rgb(246 247 249);
}

.topnav {
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: #050E2E;
    padding: 20px 20px;
    padding-left: 0px;
    overflow: hidden;
    margin: 0;
}

.topnav li {
    text-align: center;
    display: inline;
}

.topnav li a {
    font-size: 17px;
    text-align: center;
    padding: 20px 18px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
}

.topnav-active {
    background-color: #FF9232;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: black;
}

#begin-button {
    font-size: 18px; 
    padding: 11px 22px;
    border: none;
    border-radius: 5px; 
    background-color: #FF9232;
    color: rgb(246 247 249);;
    cursor: pointer;
}

#begin-button:hover {
    background-color: #915119;
}