@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
/*
this is a mess
*/
body {
    background-color: #1D212C;
    margin: 0;
    display: flex;
    flex-direction: column;
}


h1 {

    font-size: 45px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
    text-align: center;

}
h2 {
    font-size: 30px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
    text-align: center;
}
h3 {
    font-size: 30px;
    font-weight: 450;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
    text-align: center;
}
p {
    font-size: 20px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
    text-align: center;
}


img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 50;
    width: 100;
}

.topnav {
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: #050E2E;
    padding: 20px 20px;
    padding-left: 0px;
    overflow: hidden;
    margin: 0;
}

.topnav li {
    text-align: center;
    display: inline;
}

.topnav li a {
    font-size: 17px;
    text-align: center;
    padding: 20px 18px;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
}

.topnav-active {
    background-color: #FF9232;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: black;
}

.Introduction {
    margin: 50px;
    
}

.break {
    border-top: 8px;
    border-color: black;
    
}

.aboutbutton{
    font-size: 50px;
    font-weight: 600;
    color: rgb(246 247 249);
    font-family: Georama, sans-serif;
    text-align: center;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  20px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF9232;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 10px;
    width: 100px;
    height: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.aboutbutton:hover {
    background-color: white;
    color: black;
}
.aboutbutton button {
    text-decoration: none;
}

.About {
    margin: auto;
    align-items:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.About p {
    text-align: left;
    line-height: 1.5;

    margin-right: auto;

}

.AboutText {
    text-align: center;
    width: 50%;
    height: 500px;
}